In [184]:
import numpy as np
import ta
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [185]:
stock_data = yf.Ticker('TATAMOTORS.NS').history(period="1y")
stock_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-16 00:00:00+05:30,666.493259,675.714802,659.215729,664.150513,20005816,0.0,0.0
2023-10-17 00:00:00+05:30,667.938795,668.836051,652.636043,653.682800,10263992,0.0,0.0
2023-10-18 00:00:00+05:30,656.573853,670.181884,651.788631,666.443420,14908778,0.0,0.0
2023-10-19 00:00:00+05:30,660.910514,670.231725,656.573860,666.742493,10633043,0.0,0.0
2023-10-20 00:00:00+05:30,664.599128,674.319132,658.468023,661.159729,11759568,0.0,0.0

In [186]:
stock_data.to_csv('TATA_historical_data.csv')
df = pd.read_csv('TATA_historical_data.csv')
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-10-16 00:00:00+05:30,666.493259,675.714802,659.215729,664.150513,20005816,0.0,0.0
1,2023-10-17 00:00:00+05:30,667.938795,668.836051,652.636043,653.682800,10263992,0.0,0.0
2,2023-10-18 00:00:00+05:30,656.573853,670.181884,651.788631,666.443420,14908778,0.0,0.0
3,2023-10-19 00:00:00+05:30,660.910514,670.231725,656.573860,666.742493,10633043,0.0,0.0
4,2023-10-20 00:00:00+05:30,664.599128,674.319132,658.468023,661.159729,11759568,0.0,0.0

In [187]:
#using ta library to get rsi and ema
df["macd_data"] = ta.trend.macd(df['Close'])
df["rsi_data"] =  ta.momentum.rsi(df['Close'])

In [188]:
df.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,macd_data,rsi_data
241,2024-10-10 00:00:00+05:30,933.750000,943.599976,912.349976,928.500000,13249851,0.0,0.0,-28.085113,35.242612
242,2024-10-11 00:00:00+05:30,932.000000,937.000000,928.500000,930.700012,4459529,0.0,0.0,-27.472430,36.068871
243,2024-10-14 00:00:00+05:30,930.000000,940.000000,925.349976,928.250000,5740649,0.0,0.0,-26.874773,35.525255
244,2024-10-15 00:00:00+05:30,932.950012,935.349976,913.000000,917.299988,9058919,0.0,0.0,-26.973764,33.122478
245,2024-10-16 00:00:00+05:30,917.049988,923.000000,900.299988,909.049988,9294769,0.0,0.0,-27.402048,31.399337

In [189]:
# #calculating volume moving average
# VMA=np.array([])
# for i in range(247):
#     Volumes=np.array(df.loc[:i,"Volume"])
#     VMA=np.append(VMA,np.mean(Volumes))
# vma = (
#    VMA
# )
# df.insert(loc=len(df.columns)-1, column="VMA", value=vma)

In [190]:
# Preallocate the array for VMA
VMA = np.zeros(len(df))

# Loop to calculate the moving average
for i in range(len(df)):
    Volumes = df.loc[:i, "Volume"]  # Select the volume data up to the current row
    VMA[i] = np.mean(Volumes)  # Calculate the mean and assign it to the VMA array

# Add the VMA to the DataFrame as a new column
df["VMA"] = VMA

In [191]:
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,macd_data,rsi_data,VMA
0,2023-10-16 00:00:00+05:30,666.493259,675.714802,659.215729,664.150513,20005816,0.0,0.0,NaN,NaN,2.000582e+07
1,2023-10-17 00:00:00+05:30,667.938795,668.836051,652.636043,653.682800,10263992,0.0,0.0,NaN,NaN,1.513490e+07
2,2023-10-18 00:00:00+05:30,656.573853,670.181884,651.788631,666.443420,14908778,0.0,0.0,NaN,NaN,1.505953e+07
3,2023-10-19 00:00:00+05:30,660.910514,670.231725,656.573860,666.742493,10633043,0.0,0.0,NaN,NaN,1.395291e+07
4,2023-10-20 00:00:00+05:30,664.599128,674.319132,658.468023,661.159729,11759568,0.0,0.0,NaN,NaN,1.351424e+07

In [192]:
df["macd_ema_9"] = ta.trend.macd_signal(df['Close'])
df.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,macd_data,rsi_data,VMA,macd_ema_9
241,2024-10-10 00:00:00+05:30,933.750000,943.599976,912.349976,928.500000,13249851,0.0,0.0,-28.085113,35.242612,1.229274e+07,-26.349605
242,2024-10-11 00:00:00+05:30,932.000000,937.000000,928.500000,930.700012,4459529,0.0,0.0,-27.472430,36.068871,1.226051e+07,-26.574170
243,2024-10-14 00:00:00+05:30,930.000000,940.000000,925.349976,928.250000,5740649,0.0,0.0,-26.874773,35.525255,1.223379e+07,-26.634291
244,2024-10-15 00:00:00+05:30,932.950012,935.349976,913.000000,917.299988,9058919,0.0,0.0,-26.973764,33.122478,1.222083e+07,-26.702185
245,2024-10-16 00:00:00+05:30,917.049988,923.000000,900.299988,909.049988,9294769,0.0,0.0,-27.402048,31.399337,1.220893e+07,-26.842158

In [193]:
df[df["macd_data"]<df["macd_ema_9"]].head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,macd_data,rsi_data,VMA,macd_ema_9
44,2023-12-20 00:00:00+05:30,728.701269,730.744950,700.887078,703.080322,8107602,0.0,0.0,13.537698,51.724305,1.026762e+07,14.953328
45,2023-12-21 00:00:00+05:30,700.837272,709.709916,694.108038,706.669250,7702232,0.0,0.0,11.915267,53.621744,1.021185e+07,14.345716
46,2023-12-22 00:00:00+05:30,714.594800,728.751126,709.809579,722.470520,12062238,0.0,0.0,11.768846,60.907076,1.025122e+07,13.830342
47,2023-12-26 00:00:00+05:30,725.162252,725.261920,714.395428,717.336365,7229143,0.0,0.0,11.110448,57.733669,1.018826e+07,13.286363
48,2023-12-27 00:00:00+05:30,725.760329,739.567695,722.919121,738.620667,15052800,0.0,0.0,12.165887,65.709962,1.028754e+07,13.062268

In [194]:
st_capital=100000
stocks=0
trade_call=np.array([])
value_at_eod=np.array([])
capital_eod=np.array([])
stock_holding=np.array([])
strong_trade=20
trade=10
for i in range(len(df)):
    if df.iloc[i,8]>0 and df.iloc[i,8]>df.iloc[i,11] and df.iloc[i,9]<70 and df.iloc[i,5]>df.iloc[i,10] and df.iloc[i,4]>df.iloc[i,1] and (st_capital>strong_trade*df.iloc[i,4]):
         stocks+=strong_trade
         st_capital-=strong_trade*df.iloc[i,4]
         trade_call=np.append(trade_call,1)  
    elif df.iloc[i,9]<40 and (st_capital>trade*df.iloc[i,4]):
        stocks+=trade
        st_capital-=trade*df.iloc[i,4]
        trade_call=np.append(trade_call,1)
    elif df.iloc[i,9]>70 and df.iloc[i,5]>df.iloc[i,10] and df.iloc[i,1]>df.iloc[i,4] and stocks>trade:
        stocks-=trade
        st_capital+=trade*df.iloc[i,4]
        trade_call=np.append(trade_call,-1)
    elif df.iloc[i,8]<0 and df.iloc[i,5]>df.iloc[i,10] and df.iloc[i,1]>df.iloc[i,4] and stocks>strong_trade:
        stocks-=strong_trade
        st_capital+=strong_trade*df.iloc[i,4]
        trade_call=np.append(trade_call,-1)
    else:
        trade_call=np.append(trade_call,0)
    value_at_eod=np.append(value_at_eod,st_capital+(stocks*df.iloc[i,4]))
    capital_eod=np.append(capital_eod,st_capital+(stocks*df.iloc[i,4]))
    stock_holding=np.append(stock_holding,stocks)

In [195]:
print(st_capital)
print(stocks)

1698.8977050781323
100

In [196]:
invested=stocks*df.iloc[len(df)-1,4]
print(invested)

90904.99877929688

In [197]:
annual_profit=(st_capital+invested-100000)/1000
print(f"{annual_profit}%")

-7.396103515625%

In [198]:
#strong buy data points
df[(df["macd_data"]>0) & (df["macd_data"]>df["macd_ema_9"]) & (df["rsi_data"]<70) & (df["Close"]>df["Open"])& (df["Volume"]>df["VMA"])].head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,macd_data,rsi_data,VMA,macd_ema_9
49,2023-12-28 00:00:00+05:30,740.365299,755.618217,736.776337,751.580688,14906199,0.0,0.0,13.888004,69.486003,1.037991e+07,13.227415
119,2024-04-12 00:00:00+05:30,1010.880482,1025.834335,1010.382020,1015.366638,11575194,0.0,0.0,17.007115,62.863770,1.129749e+07,16.870992
131,2024-05-02 00:00:00+05:30,1016.862009,1026.831245,1008.437993,1024.638062,12695047,0.0,0.0,8.330388,64.076127,1.113252e+07,7.205882
136,2024-05-09 00:00:00+05:30,1007.889698,1039.990587,1004.201069,1027.130371,19189798,0.0,0.0,9.022296,60.061430,1.111442e+07,7.935822
137,2024-05-10 00:00:00+05:30,1033.809717,1047.118622,1027.230046,1043.430054,13383183,0.0,0.0,11.443178,63.754839,1.113086e+07,8.637293

In [199]:
#buy data points
df[ (df["rsi_data"]<40)].head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,macd_data,rsi_data,VMA,macd_ema_9
140,2024-05-15 00:00:00+05:30,967.962948,969.956795,942.192437,944.385681,19668239,0.0,0.0,-1.732244,39.767089,1.156757e+07,5.295804
141,2024-05-16 00:00:00+05:30,950.267529,951.463850,916.172732,933.519226,31240770,0.0,0.0,-5.962473,37.900796,1.170611e+07,3.044149
150,2024-05-30 00:00:00+05:30,940.597388,948.522942,918.166607,921.107544,10170912,0.0,0.0,-13.912095,36.288135,1.157428e+07,-9.683164
151,2024-05-31 00:00:00+05:30,928.783875,934.366622,917.269359,920.160461,14289102,0.0,0.0,-15.376503,36.078542,1.159214e+07,-10.821832
153,2024-06-04 00:00:00+05:30,945.083569,945.083569,852.768468,901.119263,26554598,0.0,0.0,-16.757407,35.844079,1.169399e+07,-12.543949

In [200]:
print(value_at_eod)

[100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100519.39697266 100731.74072266
 100608.1237793  100578.71459961 100721.27441406 100673.42224121
 100654.9786377  100761.64978027 100847.88391113 100919.66247559
 100927.6373291  100887.76062012 100951.56311035 100818.97277832
 100953.55712891 100998.41918945 100768.12988281 100872.30834961
 100881.77856445 101172.38220215 101350.3326416  101603.05358887
 101546.2286377  101548.72070312 102027.74230957 102154.85046387
 102097.52685547 102002.81921387 101910.10559082 101876.2097168
 101829.3548584  101943.00415039 101965.43457031 102145.37963867
 102085.56396484 102023.25622559 101970.41931152 102082.57324219
 102133.41674805 102128.93066406 102385.63842773 102339.28100586
 102261.02294922 102532.1862793  102629.88464355 102975.81726074
 102933.44787598 103149.28161621 103036.62902832 102921.98303223
 102490.31555176 102435.98266602 102217.65625    102482.83813477
 102336.2902832  102163.82263184 102407.57080078 102556.11206055
 102619.91516113 102544.64782715 102685.71228027 102680.22888184
 102803.84765625 102848.7097168  102873.13354492 102828.27209473
 102889.08447266 102842.22900391 102892.07519531 102941.92138672
 102352.73925781 102173.29406738 101531.77307129 101288.0267334
 101597.57019043 101992.35290527 102138.90136719 102426.0144043
 102373.67553711 102406.57226562 102624.9017334  103220.06408691
 102502.27844238 102641.84753418 101263.60046387 102437.47741699
 103344.67956543 104485.65734863  96688.71520996  97128.3605957
  95571.66381836  94485.01831055  95226.73217773  95673.34838867
  95370.28686523  96554.62768555  96411.07299805  96247.5769043
  95374.27124023  95059.24682617  93492.08374023  93406.84631348
  96143.40026855  92430.86120605  94768.14758301  95512.84484863
  97763.40209961  98087.89978027  99134.3963623   99246.39892578
  99103.89709473  99481.39953613  99106.39953613  98678.89709473
  98723.89831543  97901.39770508  97713.89770508  97561.39831543
  97403.89709473  98416.39709473  99298.89831543 100159.89746094
  98292.39746094  97783.90075684  99813.3996582   99403.90075684
 100209.3963623  101320.8996582  100470.39855957 101847.39746094
 101482.89855957 102175.89416504 101878.90075684 102184.9029541
  99075.39855957 100258.90075684 100137.39746094 102468.39416504
 108160.89416504 110622.4029541  111135.39855957 114541.8963623
 114073.90075684 112971.40075684 109151.40075684 102735.39978027
 102519.39880371 103443.40270996 104759.39880371 106867.39685059
 107511.40075684 105695.39489746 106407.39685059 109287.39685059
 108435.39489746 108371.40075684 108235.39489746 106895.39489746
 108231.40075684 108811.40075684 107599.39880371 107383.40270996
 111151.40075684 110327.39685059 108831.40075684 108227.39685059
 107855.39489746 106951.40075684 105367.39685059 104515.39489746
 104283.40270996  99523.39782715 100409.90112305 101004.89624023
 100708.90014648  99498.39904785  98208.39660645  98703.39782715
  99011.39587402  99096.89697266  99646.89697266  98276.89575195
 100640.8996582  100628.89770508  99160.8996582   98310.39855957
  94360.39855957  94764.39758301  94503.39538574  93698.39660645
  95633.40026855  94568.39782715  94744.39880371  94523.89770508
  93428.89648438  92603.89648438]

In [201]:
print(trade_call)

[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0. -1.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  1.  1.  0.  0.  1. -1.  0.  0.
  0.  0.  0.  0.  0.  0.  1.  1. -1.  1.  0. -1.  0.  0.  0. -1.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. -1.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  1.  1. -1.  1.  1.  0. -1.  1.  1.  0. -1.  0.  0.
  1.  1. -1.  1.  1.  0.  0. -1.  1.  1.  0.  0.]

In [202]:
print(stock_holding)

[  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.  20.  20.  20.  10.  10.  10.  10.
  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.
  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.
  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.
  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.  10.
  10.  10.  10.  10.  10.  10.  10.  30.  30.  30.  30.  30.  30.  30.
  30.  30.  30.  30.  30.  50.  50.  50.  50.  50.  70.  90.  90.  90.
 100.  80.  80.  80.  80.  80.  80.  80.  80.  80.  90. 100.  80.  90.
  90.  70.  70.  70.  70.  50.  50.  50.  50.  50.  50.  50.  50.  50.
  50.  50.  70.  90.  90.  90.  90.  90.  90.  90.  90.  90.  90.  90.
  90.  90.  90.  90.  90.  90.  90.  90.  90.  90.  90.  80.  80.  80.
  80.  80.  80.  80.  80.  80.  80.  80.  80.  80.  80.  80.  80.  80.
  80.  80.  80.  80.  80.  80.  80.  80.  80.  80.  80.  90. 100.  80.
  90. 100. 100.  80.  90. 100. 100.  80.  80.  80.  90. 100.  80.  90.
 100. 100. 100.  80.  90. 100. 100. 100.]

In [203]:
print(capital_eod)

[100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100000.         100000.
 100000.         100000.         100519.39697266 100731.74072266
 100608.1237793  100578.71459961 100721.27441406 100673.42224121
 100654.9786377  100761.64978027 100847.88391113 100919.66247559
 100927.6373291  100887.76062012 100951.56311035 100818.97277832
 100953.55712891 100998.41918945 100768.12988281 100872.30834961
 100881.77856445 101172.38220215 101350.3326416  101603.05358887
 101546.2286377  101548.72070312 102027.74230957 102154.85046387
 102097.52685547 102002.81921387 101910.10559082 101876.2097168
 101829.3548584  101943.00415039 101965.43457031 102145.37963867
 102085.56396484 102023.25622559 101970.41931152 102082.57324219
 102133.41674805 102128.93066406 102385.63842773 102339.28100586
 102261.02294922 102532.1862793  102629.88464355 102975.81726074
 102933.44787598 103149.28161621 103036.62902832 102921.98303223
 102490.31555176 102435.98266602 102217.65625    102482.83813477
 102336.2902832  102163.82263184 102407.57080078 102556.11206055
 102619.91516113 102544.64782715 102685.71228027 102680.22888184
 102803.84765625 102848.7097168  102873.13354492 102828.27209473
 102889.08447266 102842.22900391 102892.07519531 102941.92138672
 102352.73925781 102173.29406738 101531.77307129 101288.0267334
 101597.57019043 101992.35290527 102138.90136719 102426.0144043
 102373.67553711 102406.57226562 102624.9017334  103220.06408691
 102502.27844238 102641.84753418 101263.60046387 102437.47741699
 103344.67956543 104485.65734863  96688.71520996  97128.3605957
  95571.66381836  94485.01831055  95226.73217773  95673.34838867
  95370.28686523  96554.62768555  96411.07299805  96247.5769043
  95374.27124023  95059.24682617  93492.08374023  93406.84631348
  96143.40026855  92430.86120605  94768.14758301  95512.84484863
  97763.40209961  98087.89978027  99134.3963623   99246.39892578
  99103.89709473  99481.39953613  99106.39953613  98678.89709473
  98723.89831543  97901.39770508  97713.89770508  97561.39831543
  97403.89709473  98416.39709473  99298.89831543 100159.89746094
  98292.39746094  97783.90075684  99813.3996582   99403.90075684
 100209.3963623  101320.8996582  100470.39855957 101847.39746094
 101482.89855957 102175.89416504 101878.90075684 102184.9029541
  99075.39855957 100258.90075684 100137.39746094 102468.39416504
 108160.89416504 110622.4029541  111135.39855957 114541.8963623
 114073.90075684 112971.40075684 109151.40075684 102735.39978027
 102519.39880371 103443.40270996 104759.39880371 106867.39685059
 107511.40075684 105695.39489746 106407.39685059 109287.39685059
 108435.39489746 108371.40075684 108235.39489746 106895.39489746
 108231.40075684 108811.40075684 107599.39880371 107383.40270996
 111151.40075684 110327.39685059 108831.40075684 108227.39685059
 107855.39489746 106951.40075684 105367.39685059 104515.39489746
 104283.40270996  99523.39782715 100409.90112305 101004.89624023
 100708.90014648  99498.39904785  98208.39660645  98703.39782715
  99011.39587402  99096.89697266  99646.89697266  98276.89575195
 100640.8996582  100628.89770508  99160.8996582   98310.39855957
  94360.39855957  94764.39758301  94503.39538574  93698.39660645
  95633.40026855  94568.39782715  94744.39880371  94523.89770508
  93428.89648438  92603.89648438]

In [204]:
# y = capital_eod
# x = np.arange(len(y))
# plt.plot(x, y, marker='.', linestyle='-')
# plt.xlabel('DAY')
# plt.ylabel('NET VALUE')
# plt.title(' Equity Curve')
# plt.grid(True)
# plt.show()

In [205]:
# volatility=np.array([])
# for i in range(247):
#  Price=np.array(df.loc[:i,"Close"])
#  sigma=np.std(Price)
#  volatility=np.append(volatility,sigma)
# print(volatility)